<!DOCTYPE html>
<html lang="ru">

<html>
	<body id="canvas">
		<table id="facilityTable" class="table table-bordered">
			<caption id="tableTitle">Заявки</caption>
			<thead>
				<tr id="firstRow">
					<th>№</th>
					<th>Название</th>
				</tr>
			</thead>
		</table>

		<div *ngFor="let facility of facilities$ | async">
			<p>
				{{facility.description}}
			</p>
		</div>

		<div id="verifyButtonGroup" class="btn-group-vertical"></div>

		<table id="paramsTable" class="table table-bordered">
			<caption id="paramsTableTitle"></caption>
			<thead>
				<tr id="firstParamsTableRow">
					<th>Наименование</th>
					<th>Значение</th>
					<th>Единица измерения</th>
				</tr>
			</thead>
		</table> 

	</body>
	{{render()}}
</html>