<!DOCTYPE html>
<html>
    <body id="canvas">
        <button id="editButton"  (click)="onClickEditButton()" class="btn btn-secondary">Изменить</button>

        <table id="facilityTable" class="table table-bordered">
            <thead>
                <tr id="firstRow">
                    <th>Наименование</th>
                    <th>Значение</th>
                    <th>Единица измерения</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <div id="editingButtonGroup" class="btn-group-vertical"></div>
        <div id="cancellingButtonGroup" class="btn-group-vertical"></div>

        <button id="addButton" (click)="onClickAddButton()" class="btn btn-secondary">+</button>
    </body>
    {{render()}}
</html>